main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 1vmax;
    padding: 0 1vw 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5vh;
}

.chat-log {
    height: 90%;
    width: 90%;
    overflow: auto;
}

.chat-container {
    background-color: #b6e0c3;
    width: 80vw;
    height: 60vh;
    border-radius: 1vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chat-message-input {
    border-radius: 1vmax;
    margin-bottom: 1.5vh;
    width: 80%;
}

.message-box {
    background-color: #007530AD;
    color: white;
    font-family: "Do Hyeon", sans-serif;
    border-radius: 10px;
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
}

.message-info-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: "sender buttons date";
}

.message-sender {
    grid-area: sender;
}

.action-btns {
    grid-area: buttons;
}

.message-date {
    grid-area: date;
}

.message-sender, .message {
    position: relative;
    left: 2vw;
}

.action-btns {
    justify-self: center;
    display: flex;
    gap: 0.8vw;
}

.action-btns i {
    cursor: pointer;
    transition: 0.3s;
    display: block;
}

.action-btns i:hover {
    transform: scale(1.3);
}

.message {
    width: 90%;
}

.message-date {
    position: relative;
    right: 2vw;
    justify-self: flex-end;
}

.chat-actions-container {
    display: flex;
    justify-content: center;
}
