main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-log {
    height: 90%;
    width: 90%;
    outline: 1px solid red;
}

.chat-container {
    background-color: #b6e0c3;
    width: 80vw;
    height: 60vh;
    border-radius: 1vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chat-message-input {
    border-radius: 1vmax;
    margin-bottom: 1.5vh;
}

button {
    border-radius: 1vmax;
    padding: 0 1vw 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5vh;
}

