@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");

main {
    display: inline-block;
    position: absolute;
    width: 80vw;
    height: 80vh;
    text-align: center;
}

main div {
    position: relative;
    width: 60vw;
    height: 30vh;
    border-radius: 1vh;
    background-color: #b6e0c3;
    display: grid;
    gap: 2vmax;
    grid-template-rows: repeat(3, 10vh);
    grid-template-areas:
            "title"
            "form"
            ".";
}

main div h2 {
    grid-area: title;
    font-size: 2vmax;
    color: #006d2a;
    font-family: "Do Hyeon", sans-serif;
    padding-top: 2.5vmax;
}

main div form {
    grid-area: form;
    padding-top: 1.5vmax;
}

aside {
    display: inline-block;
    width: 20vw;
    height: 80vh;
}

aside div {
    position: relative;
    margin: 5vh 0 5vh 5vh;
    border-radius: 1vh;
}

aside p {
    text-align: center;
    font-size: 1.5vw;
}

button {
    font-family: "Do Hyeon", sans-serif;
    font-size: 1vmax;
    color: white;
    margin-left: 2vmin;
    border-radius: 1vmin;
    border: 3px outset #009951;
    background-color: #006d2a;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.profile-box {
    background-color: #408967;
    height: 15vh;
    text-align: center;
}

.profile-box p {
    display: inline-block;
    font-size: 5vmin;
    width: 6vw;
    color: white;
    padding-right: 2vmin;
    margin: 5vmin 0 6vmin 1.5vmin;
    transition: 0.3s;
}

.profile-box p:hover {
    color: #6bfdba;
}

.available-rooms-box {
    background-color: #005d3b;
    height: 50vh;
}

.available-rooms-title {
    font-family: "Do Hyeon", sans-serif;
    color: white;
    padding-top: 3vh;
}

.enter-room-box {
    margin: 5vh 0 0 10vw;
}

.create-room-box {
    margin: 10vh 0 0 10vw;
}

.room-form-input {
    width: 20vmax;
    font-family: "Do Hyeon", sans-serif;
    font-size: 1vmax;
    text-align: center;
    border: 3px outset #90d1a5;
    border-radius: 1vmin;
    background-color: #edf7f0;
}

.room-form-input:focus {
    outline: none;
}
