main {
    display: inline-block;
    position: absolute;
    width: 80vw;
    height: 80vh;
    text-align: center;
}

main div {
    position: relative;
    width: 60vw;
    height: 30vh;
    border-radius: 1vh;
    background-color: #b6e0c3;
    display: grid;
    gap: 2vmax;
    grid-template-rows: repeat(3, 10vh);
    grid-template-areas:
            "title"
            "form"
            ".";
}

main div h2 {
    grid-area: title;
    font-size: 2vmax;
    padding-top: 2.5vmax;
}

main div form {
    grid-area: form;
    padding-top: 1.5vmax;
}

aside {
    display: inline-block;
    width: 20vw;
    height: 80vh;
}

aside div {
    position: relative;
    margin: 5vh 0 5vh 5vh;
    border-radius: 1vh;
}

aside p {
    text-align: center;
    font-size: 1.5vw;
}

i {
    transition: 0.3s;
}

a, a:active, a:link {
    color: white;
}

.profile-box {
    background-color: #408967;
    height: 15vh;
    text-align: center;
}

.profile-box p {
    display: inline-block;
    font-size: 5vmin;
    width: 6vw;
    color: white;
    padding-right: 2vmin;
    margin: 5vmin 0 6vmin 1.5vmin;
    transition: 0.3s;
}

.profile-box a:hover {
    color: #6bfdba;
}

.profile-box i:hover {
    transform: scale(1.09);
}

.available-rooms-box {
    background-color: #005d3b;
    height: 50vh;
}

.available-rooms-title {
    font-family: "Do Hyeon", sans-serif;
    color: white;
    padding-top: 3vh;
    cursor: default;
}

.enter-room-box {
    margin: 5vh 0 0 10vw;
}

.create-room-box {
    margin: 10vh 0 0 10vw;
}

.room-form-input {
    width: 20vmax;
    font-size: 1vmax;
    text-align: center;
    border-radius: 1vmin;
    background-color: #edf7f0;
}

.available-rooms-inner-box {
    margin: 0;
    height: 40.5vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vmax;
    overflow: auto;
}

.available-rooms-inner-box::-webkit-scrollbar {
    width: 12px;
}

.available-rooms-inner-box::-webkit-scrollbar-track {
    border-radius: 20px;
}

.available-rooms-inner-box::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #408967;
}

.available-rooms-inner-box::-webkit-scrollbar-thumb:hover {
    background-color: #76a98f;
}

.room-link {
    display: block;
    font-family: "Do Hyeon", sans-serif;
    font-size: 2vmax;
    text-align: center;
    border-radius: 1vmax;
    transition: 0.2s;
}

.room-link:hover {
    background-color: #408967;
}
