@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");

@font-face {
    font-family: "Do Hyeon";
    src: url("../fonts/DoHyeon-Regular.ttf") format("truetype");
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 15vh;
    text-align: center;
    color: whitesmoke;
    font-family: "Do Hyeon", sans-serif;
    font-size: 18px;
    background-color: #007530;
}

header a:active, a:link, a:visited {
    text-decoration: none;
    color: white;
}

header h1 {
    font-size: 4.5vh;
    margin: 0;
    padding-top: 5vh;
}

h1, h2 {
    color: #006d2a;
    font-family: "Do Hyeon", sans-serif;
    cursor: default;
}

main {
    font-size: 16px;
    width: 100vw;
    height: 80vh;
    background-color: #f2fff8;
}

button {
    font-family: "Do Hyeon", sans-serif;
    font-size: 1vmax;
    color: white;
    margin-left: 2vmin;
    border-radius: 1vmin;
    border: 3px outset #009951;
    background-color: #006d2a;
    transition: 0.3s;
    transform: translateZ(0);
    backface-visibility: hidden;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

footer {
    height: 5vh;
    width: 100vw;
    text-align: center;
    font-size: 1vmax;
    color: white;
    background-color: #002e10;
    position: absolute;
    font-family: "Do Hyeon", sans-serif;
    cursor: default;
}

input {
    font-family: "Do Hyeon", sans-serif;
    border: 3px outset #90d1a5;
}

input:focus {
    outline: none;
}

#swal2-html-container, .swal2-icon-content {
    font-family: "Do Hyeon", sans-serif;
}

.swal2-confirm {
    padding: 5px 12px 5px 12px;
}