{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if theme == 'blue' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/blue-theme.css' %}">
    {% elif theme == 'pink' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/pink-theme.css' %}">
    {% elif theme == 'black' %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/black-theme.css' %}">
    {% endif %}

    {% block staticfiles %}
    {% endblock %}
    {% block title %}

    {% endblock %}
</head>

<body>

<header>
    <h1><a href="{% url 'home' %}">DjangoChat <i class="fa-solid fa-comments"></i></a></h1>
</header>

{% block sidebar %}
{% endblock %}

<main>
    {% block main %}

    {% endblock %}
</main>

<footer>
    <p>Teodor Kosharov</p>
</footer>

</body>
</html>