{% extends 'base.html' %}
{% load static %}


{% block staticfiles %}
    <script type="text/javascript" src="{% static 'scripts/roomPage.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/chat-room.css' %}">
{% endblock %}

{% block title %}
    <title>Chat</title>
{% endblock %}

{% block main %}
    <h1 class="room-name-title">{{ room_name }}</h1>
    <div class="chat-container">
        <div class="chat-log">
            {% for message in messages %}
                <div class="message-box">
                    <div class="message-info-box" id="{{ message.id }}">
                        <p class="message-sender"><i class="fa-solid fa-user"></i> {{ message.sender }}</p>
                        {% if message.sender_id == request.user.id %}
                            <p class="action-btns">
                                <i title="delete" class="fa-solid fa-trash"
                                   onclick="deleteMessage({{ message.id }})"></i>
                            </p>
                        {% endif %}
                        <p class="message-date"><i class="fa-solid fa-calendar-days"></i> {{ message.date }}</p>
                    </div>
                    <p class="message"><i class="fa-solid fa-message"></i> {{ message.message }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="chat-actions-container">
            <input class="chat-message-input" type="text" size="100" maxlength="300" placeholder="Type message"><br>
            <button onclick="sendMessage('{{ request.user.id }}', '{{ room_name }}')"><i
                    class="fa-regular fa-paper-plane"></i></button>
        </div>
    </div>

    {{ room_name|json_script:"room-name" }}
{% endblock %}