{% extends 'base.html' %}
{% load static %}

{% block staticfiles %}
    <script type="text/javascript" src="{% static 'scripts/handleRoomForms.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block title %}
    <title>Home</title>
{% endblock %}


{% block sidebar %}
    <aside>
        <div class="profile-box">
            <p class="login-icon" title="Login"><i class="fa-solid fa-right-to-bracket"></i></p>
            <p class="register-icon" title="Register"><i class="fa-solid fa-address-card"></i></p>
        </div>

        <div class="available-rooms-box">
            <p class="available-rooms-title">Available rooms</p>

        </div>
    </aside>
{% endblock %}

{% block main %}
    <div class="enter-room-box">
        <h2>Enter chat room</h2>

        <form method="POST" action="{% url 'home' %}" onsubmit="handleEnterRoomForm('{{ csrf_token }}')">
            {{ enter_room_form }}
            {% csrf_token %}
            <button>Enter</button>
        </form>

    </div>

    {#    <form method="POST" action="{% url 'home' %}" onsubmit="handleRoomForms('{{ csrf_token }}')">#}
    {#        {{ add_room_form }}#}
    {#        {% csrf_token %}#}
    {#        <button>Add</button>#}
    {#    </form>#}
{% endblock %}
