{% extends 'base.html' %}
{% load static %}

{% block staticfiles %}
    <script type="text/javascript" src="{% static 'scripts/handleRoomForms.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block sidebar %}
    <aside>
        <div class="profile-box">
            {% if not user %}
                <p class="login-icon"><a href="{% url 'login url' %}"><i
                        title="Login" class="fa-solid fa-right-to-bracket"></i></a></p>
                <p class="register-icon"><a href="{% url 'register url' %}"><i
                        title="Register" class="fa-solid fa-address-card"></i></a></p>
            {% else %}
                <p class="settings-icon"><a href="{% url 'settings url' %}"><i title="Settings" class="fa-solid fa-gear"></i></a></p>
                <p class="logout-icon"><a href="{% url 'logout url' %}"><i
                        title="Logout" class="fa-solid fa-right-from-bracket"></i></a></p>
            {% endif %}
        </div>

        <div class="available-rooms-box">
            <p class="available-rooms-title">Available rooms</p>
            <div class="available-rooms-inner-box">
                {% for room in rooms %}
                    <a class="room-link" href="{% url 'chat room' room_name=room.room_name %}">{{ room.room_name }}</a>
                {% endfor %}
            </div>
        </div>
    </aside>
{% endblock %}

{% block main %}
    <div class="enter-room-box">
        <h2>Enter chat room <i class="fa-solid fa-door-open"></i></h2>
        <form method="POST" action="{% url 'home' %}" onsubmit="handleEnterRoomForm('{{ csrf_token }}')">
            {{ enter_room_form }}
            {% csrf_token %}
            <button class="enter-room-btn">Enter</button>
        </form>
    </div>

    <div class="create-room-box">
        <h2>Create chat room <i class="fa-solid fa-comment-dots"></i></h2>
        <form method="POST" action="{% url 'home' %}" onsubmit="handleCreateRoomForm(event, '{{ csrf_token }}')">
            {{ add_room_form }}
            {% csrf_token %}
            <button class="create-room-btn">Create</button>
        </form>
    </div>
{% endblock %}
