{% extends 'base.html' %}
{% load static %}

{% block staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">
    <script type="application/javascript" src="{% static 'scripts/handleAuthErrors.js' %}" defer></script>
{% endblock %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block main %}
    <h1>Register</h1>
    <form method="POST" action="{% url 'register url' %}">
        {{ form.as_p }}
        {% csrf_token %}
        <button title="Register"><i class="fa-solid fa-address-card"></i></button>
    </form>
{% endblock %}